.products_one{
    width: 240px;
    height: auto;
    border: 1px solid;
    border-radius: 7px;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
}

.products_img{
    width: 240px;
    border-bottom: 1px solid;
}

.products_img img{
    width: 100%;
}

.products_text{   
    
    margin-top: 10px;
    
}

.products_addtocart{   
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 15px;    
    margin-bottom: 10px;
    border: none;
    width: 150px;
    outline: none;
}

.products_addtocart:hover{
    cursor: pointer;
    background-color: lightslategray;
}

.check{
    margin-top: 0px;
    float: left;

}